# Restack Cloud (Optional)

# RESTACK_ENGINE_ID=<your-engine-id>
# RESTACK_ENGINE_API_KEY=<your-engine-api-key>
# RESTACK_ENGINE_API_ADDRESS=<your-engine-api-address>
# RESTACK_ENGINE_ADDRESS=<your-engine-address>
# RESTACK_CLOUD_TOKEN=<your-cloud-token>

# Weaviate Cloud

WCD_URL=<your-weaviate-cloud-url>
WCD_API_KEY=<your-weaviate-cloud-api-key>

# Google GenAI 

# Sign-up and get a free API key at https://aistudio.google.com/app/apikey

GENAI_API_KEY=<your-google-genai-api-key>